@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Golos+Text:wght@500&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&family=Noto+Sans+JP:wght@500&family=Oswald:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&family=Righteous&family=Shantell+Sans:wght@300&family=Tilt+Prism&family=Ubuntu:wght@300&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dosis:wght@200&family=Golos+Text:wght@500&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&family=Noto+Sans+JP:wght@500&family=Oswald:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&family=Rampart+One&family=Righteous&family=Roboto+Slab:wght@200;300;400&family=Shantell+Sans:wght@300&family=Tilt+Prism&family=Ubuntu:wght@300&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-25deg,#38E54D  40%, #9CFF2E 60%);
 
}

.git-hub{
  position: absolute;
    top:1%;
  height: 300px;
  width: 300px;
}


.user-form {
  position: absolute;
    width: 600px;
    height: 70px;
    top:15%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 10px #000,
   
}

.user-form input {
  flex: 1;
  height: 60px;
  border:none;
  outline: none;
  font-size: 35px;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
  border-radius: 5%;
  box-shadow: 0 5px 10px #383838,
  
}

.user-form input::placeholder {
  color: #bbb;
}
.user-form input:focus {
  outline: none;
}
.card {
  left: 520px;
  position: absolute;
  height: 400px;
  max-width: 800px;
  bottom:80px;
  background: linear-gradient(25deg ,#38E54D 20%,#9CFF2E 50%);
  border-radius: 20px;
  box-shadow: 0 5px 10px #000000,
  0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 2.9rem;
  color: #000;
}
.avatar {
  border-radius: 50%;
  border: 15px solid #000;
  height:200px;
  width: 200px;
  margin-bottom: 15px;
}
.user-info {
  color: #000;
  margin-left: 2rem;
}
.user-info h2 {
  margin-top: 0;
  font-size: 2.9rem;
  letter-spacing: 2px;
  font-family: 'Roboto Slab', serif;
 
}


.card ul {
  list-style-type: none;
   margin: 5px;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}
.card ul li {
  top: 83%;
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;
  font-size: 1.0rem;
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
  letter-spacing: 3px;
}
.card ul li strong {
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  display: flex;
  font-size: 1.0rem;
  margin-left: 0.5rem; 
  /* letter-spacing: 5px; */
  border-radius: 5%;
  
}
.repo {
  text-decoration:dotted;
  color: #000;
  font-size: 0.9rem;
  padding: 0.30rem 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  display: block;
  font-family: 'Roboto Slab', serif;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .user-form {
    max-width: 400px;
  }
}