*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-25deg,#62CDFF 50%, #97DEFF 50%);
}

.git-hub{
  position: absolute;
    top:1%;
  height: 300px;
  width: 300px;
}


.box{
    position: absolute;
    width: 700px;
    height: 70px;
    top:15%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;


}
.box > input{
    flex: 1;
    height: 60px;
    border:none;
    outline: none;
    font-size: 35px;
    padding-right: 15px;
    padding-left: 15px;
    color: black;
    
}

.box > button{
    font-size: larger;
    cursor: pointer;
}


