*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-25deg,#62CDFF 50%, #97DEFF 50%);
}
h1{
    position: absolute;
    top:15%;
    font-size:40px;
    color: black;
    
}

.box{
    position: absolute;
    width: 700px;
    height: 70px;
    top:25%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;


}
.box > input{
    flex: 1;
    height: 60px;
    border:none;
    outline: none;
    font-size: 35px;
    padding-right: 15px;
    padding-left: 15px;
    
}

.box > button{
    font-size: larger;
    cursor: pointer;
}

.main-contain{
    position: absolute;
    width: 900px;
    height: 500px;
    top:35%;
    background: linear-gradient(35deg,#62CDFF 50%, #97DEFF 50%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;

}
.main-contain > .main{
    display: flex;
    align-items: center;
    text-align: center;
}
.card {
    max-width: 800px;
    background-color: #4C2885;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
  }
  .avatar {
    border-radius: 50%;
    border: 10px solid #2A2A72;
    height: 150px;
    width: 150px;
  }
  .user-info {
    color: #eee;
    margin-left: 2rem;
  }
  .user-info h2 {
    margin-top: 0;
  }
  .user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
  }
  .user-info ul li {
    display: flex;
    align-items: center;
  }
  .user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
  .repo {
    text-decoration: none;
    color: #fff;
    background-color: #212A72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  @media (max-width: 500px) {
    .card {
      flex-direction: column;
      align-items: center;
    }
    .user-form {
      max-width: 400px;
    }
  }