
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&family=Noto+Sans+JP:wght@500&family=Oswald:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&family=Shantell+Sans:wght@300&family=Tilt+Prism&family=Ubuntu:wght@300&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body{
    overflow: hidden;

  }

  .container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
  }

  nav{
    display: flex;
    width: 100%;
    justify-content:space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    
  }

  .logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
  }

  b{
    font-size: 70px;
    color: #7f00ff;
  }

  .navItems{
    display: flex;

  }

  .navItems li{
    list-style: none;
    margin: 0 15px;
  }

  .navItems li a{
    font-size: 17px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .navItems li:hover a{
    color: #7f00ff;
  }