
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&family=Noto+Sans+JP:wght@500&family=Oswald:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&family=Shantell+Sans:wght@300&family=Tilt+Prism&family=Ubuntu:wght@300&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body{
    overflow: hidden;

  }

  .container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
  }

  nav{
    display: flex;
    width: 100%;
    justify-content:space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    
  }

  .logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
  }

  b{
    font-size: 70px;
    color: #7f00ff;
  }

  .navItems{
    display: flex;

  }

  .navItems li{
    list-style: none;
    margin: 0 15px;
  }

  .navItems li a{
    font-size: 17px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .navItems li:hover a{
    color: #7f00ff;
  }

  .wrapper{
    display: flex;
    width:100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
  }

  .wrapper::before{
    position: absolute;
    content: '';
    height: 350px;
    width: 350px;
    border-radius: 50%;
    left: -12%;
    top:40%;
    background: linear-gradient(45deg,#7f00ff,rgb(245, 201, 6));
    animation: object 6s infinite;
  }

  .cols{
    width: 50%;
  }

  .cols0{
    z-index: 5;
  }

  .topline{
    display: block;
    position: relative;
    font-size: 30px;
    letter-spacing: 5px;
    color: #3d535f;
  }

  .topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 35px;
    bottom: 10px;
    background-color: #7f00ff;
  }

  h1{
    display: block;
    font-size: 50px;
    font-weight: 900;
    color: #3d535f;
  }
  .name{
    display: block;
    font-size: 70px;
    font-weight: 900;
    color: #3d535f;
  }

  .multitext{
    color: #7f00ff;
    text-transform: capitalize;
  }

  .btns{
    width: 100%;
    position: relative;
    left: 150px;
  }

  button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 6px 10px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0,0.4);

  }

  button:hover{
    background-color: #7f00ff;
  }

  .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .imgbox img{
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    top: -30px;
    right: 10px;
    animation: animateUser 6s linear infinite;
  }

  @keyframes animateUser{
    50%{
        right: 20px;
        top: -40px;
    }
  }