
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}

:root{
    --primary-color:#fff;
    --secondary-color:#333;
    --main-color:#754ef9;
}

body{
    background:var(--primary-color);
    color:var(--secondary-color);
    overflow-x:hidden;
}
